@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Re-usables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        4.3 Case Studies
        4.4 Services
        4.5 Contact Us
        4.6 Footer
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/*CSS reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

/*Global Setup*/

body {
    font-family: Roboto, sans-serif;
    font-size: 0.7rem;
    font-weight: 200;
}

/*Colors*/
:root {
    --purple: #5722CD;
    --blue: #4845E4;
    --pink: #ED4385;
    --black: #0C0C0C;
    --background-text-purple: #F2F0FF;
    --project-background-grey: #F3F6F9;
    --service-tile-grey: #7A7A7A;
    --background-grey: #f3f3f3;
    --gradient: linear-gradient(172deg,rgba(72, 69, 228, 1) 0%, rgba(87, 34, 205, 1) 100%);
}

img {
    width: 100%;
}

/*Guide Borders*/
/*red-border {border: 2px dashed red}
.green-border {border: 2px dashed green}
.blue-border {border: 2px dashed blue}
.orange-border {border: 2px dashed orange}
.purple-border {border: 2px dashed purple}
.brown-border {border: 2px dashed brown}
.pink-border {border: 2px dashed deeppink}
.yellow-border {border: 2px dashed yellow}*/

button {
    font-family: inherit;
    font-size: 0.6rem;
    background-color: var(--pink);
    color: inherit;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 30px;
    align-self: center;
    /*width: 10.5rem;*/
    border: none;
    box-shadow: 0 8px 5px hsla(259, 72%, 35%, 0.8);
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.icon {
    width: 50px
}



/* ------------------------------- 2. Typography ----------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather, serif;
    font-weight: 400;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.33rem;
    line-height: 1.9rem;
}

h4 {
    font-size: 1rem;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Re-usables ----------------------- */

.centered-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 34rem;
    text-align: center;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header {
    display: flex;
    flex-direction: column;
    height: 28rem;
    align-items: center;
    background-image: var(--gradient);
    color: white;
    gap: 2rem;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    width: 100vw;
    padding: 1rem 3rem;
}

li {
    list-style-type: none;
}

.navbar a:link {
    color: white;
}

.navbar a:visited {
    color: var(--pink);
}

header > img {
    width: 60px;
    padding-top: 3.8rem;
}

header p {
    font-size: 1.2rem;
}

header .centered-text {
    padding-top: 2rem;
}

/* --------------- 4.2 Introduction ------------------- */

.outer-box-introduction {
    display: flex;
    justify-content: center;
    padding: 4.2rem;
    height: 25rem;
}

.centered-text > h3 {
    color: var(--purple);
}

h3 + p {
    padding: 3.7rem 0;
    font-size: 0.75rem;
}

/* --------------- 4.3 Case Studies ------------------- */

.outer-box-case-studies {
    display: flex;
    background-color: var(--background-grey);
    padding: 1rem 1rem;
    justify-content: center;
}

.inner-box-case-studies {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem 0;
    width: 100%;
}

.case-study-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 22rem;

}

.case-study-box:nth-child(even) {
    flex-direction: row-reverse;
}

.case-study-text {
    display: flex;
    flex-direction: column;
    width: 25rem;
    gap: 30px;
    flex-shrink: 1;
    padding: 3rem;
}

.case-study-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
}

.case-study-text > img {
    width: 50px;
}

.case-study-image {
    display: flex;
    flex-basis: 700px;
    flex-grow: 0;
    flex-shrink: 1;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
}

/* --------------- 4.4 Services ------------------- */

.outer-box-services {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.inner-box-services {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 3rem 0;
    flex-basis: 75rem;
}

.services-box {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--purple);
    gap: 0.7rem;
    padding: 1.8rem;
    width: 16rem;
    height: 15rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.services-box > h4 {
    color: var(--purple);
}

.icon {
    width: 3rem;
}

/* --------------- 4.5 Contact Us ------------------- */

.contact-outer-box {
    display: flex;
    justify-content: center;
    background-image: var(--gradient);
    padding: 1rem;
}

.contact-inner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 3rem 0;
    width: 100%;
    gap: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.8rem;
    max-width: 35rem;
    width: 100%;
}

.form-pair {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.form-input {
    width: 100%;
    padding: 0.8rem;
}


/* --------------- 4.6 Footer ------------------- */

.footer-box {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    color: white;
    padding: 1rem;
}

/* ------------------------------- 5. Media Queries -------------------------------- */

@media screen and (max-width: 600px) {

    html {
        font-size: 16px;
    }

    .navbar {
        justify-content: center;
    }

    .case-study-box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .case-study-box:nth-child(even) {
        flex-direction: column;
    }


}